<html>
<head>
</head>
<body>
  <%= form_for @songList do |f| %>
    <%= f.select :level, [[13,13],[14,14],[15,15],[16,16],[17,17]], :selected => [15,15] %>
  <% end %>
  <div id="detailTable"></div>
  <script>onload_detail();</script>
</body>
