<html>
<head>
  <%= include_gon %>
</head>
<body>
  <label for="from_date">From</label>
  <input type="date" id="fromDate" value="2019-05-02" min="2019-05-02" max="today">
  <label for="to_date">To</label>
  <input type="date" id="toDate" min="2019-05-02" max="today">
  <button id="reload_button" class="btn btn-sm btn-outline-secondary" onclick="clear_graph(); draw_graph();">期間変更</button>
  <button id="all_period_button" class="btn btn-sm btn-outline-secondary" onclick="location.reload()">全期間</button>

  <canvas id="myChart" width="850" height="800"></canvas>
  <div id="table"></div>
  <script>onload_proc();</script>
  <script>draw_graph();</script>
</body>