<details>
  <summary>クリア目標テーブル</summary>
  <div id="targetTable"></div>
</details>

<canvas id="myChart" width="800" height="800"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>draw_graph();</script>

<div id="table"></div>